.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 664px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 674px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 0 308px 0 26px;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 108px 216px 0 108px;
}

.u-section-1 .u-text-3 {
  animation-duration: 1000ms;
  font-weight: 700;
  background-image: none;
  margin: 32px 291px 0 108px;
}

.u-section-1 .u-icon-1 {
  width: 33px;
  height: 33px;
  margin: 180px auto 0 287px;
}

.u-section-1 .u-social-icons-1 {
  height: 32px;
  min-height: 16px;
  width: 116px;
  min-width: 68px;
  margin: -32px auto 0 333px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 674px;
  pointer-events: auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 374px;
  height: 662px;
  margin: -2px auto 0 -10px;
}

.u-section-1 .u-text-4 {
  font-weight: normal;
  font-size: 2.25rem;
  margin: -660px 24px 0 387px;
}

.u-section-1 .u-text-5 {
  animation-duration: 1000ms;
  font-weight: 700;
  font-size: 1.125rem;
  margin: 312px 13px 0 388px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 796px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
    margin-right: 264px;
    margin-left: 9px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 110px;
    margin-right: 182px;
    margin-left: 38px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 19px;
    margin-right: 231px;
    margin-left: 70px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 298px;
    margin-left: 158px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -33px;
    margin-right: 173px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 796px;
  }

  .u-section-1 .u-image-1 {
    width: 355px;
    height: 788px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -788px;
    margin-right: 10px;
    margin-left: 364px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 314px;
    margin-right: 0;
    margin-left: 354px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 90px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 647px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 159px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 106px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 182px;
    margin-left: 61px;
  }

  .u-section-1 .u-icon-1 {
    margin-left: 121px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 121px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    width: 353px;
    height: 761px;
    margin-left: 1017px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -761px;
    margin-right: 0;
    margin-left: 1017px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 301px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 417px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 316px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 97px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 10px;
    margin-right: 235px;
    margin-left: 8px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 188px;
    margin-left: 147px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: -32px;
    margin-left: 180px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 179px;
  }

  .u-section-1 .u-image-1 {
    width: 254px;
    height: 357px;
    margin-top: -514px;
    margin-right: 7px;
    margin-left: auto;
  }

  .u-section-1 .u-text-4 {
    margin-top: 158px;
    margin-right: 222px;
    margin-left: 203px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 8px;
    margin-right: 222px;
    margin-left: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 702px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 458px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 26px;
    margin-right: 101px;
    margin-left: -101px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 234px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
    margin-left: 61px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 217px;
    margin-left: 86px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 177px;
  }

  .u-section-1 .u-image-1 {
    width: 217px;
    height: 407px;
    margin-top: -469px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 62px;
    margin-right: -202px;
    margin-left: 202px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 9px;
    margin-right: 19px;
    margin-left: 202px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 678px;
}

.u-section-2 .u-text-1 {
  margin: 32px 375px 0 649px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 0 947px 0 0;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 22px 723px 0 92px;
}

.u-section-2 .u-text-4 {
  font-size: 1rem;
  margin: -127px 15px 0 649px;
}

.u-section-2 .u-text-5 {
  margin: 19px 590px 0 357px;
}

.u-section-2 .u-shape-1 {
  width: 263px;
  height: 49px;
  background-image: none;
  margin: 10px 0 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0 0 0 1067px;
}

.u-section-2 .u-shape-2 {
  width: 110px;
  height: 37px;
  background-image: none;
  margin: 37px auto 0 134px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: -17px 0 0 1024px;
}

.u-section-2 .u-shape-3 {
  width: 110px;
  height: 37px;
  background-image: none;
  margin: 6px 367px 0 auto;
}

.u-section-2 .u-shape-4 {
  width: 110px;
  height: 37px;
  background-image: none;
  margin: -21px auto 0 396px;
}

.u-section-2 .u-shape-5 {
  width: 110px;
  height: 37px;
  background-image: none;
  margin: -53px auto 0 260px;
}

.u-section-2 .u-text-8 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: -37px 895px 0 129px;
}

.u-section-2 .u-shape-6 {
  width: 110px;
  height: 37px;
  background-image: none;
  margin: 9px 222px 0 auto;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: -6px 364px 0 663px;
}

.u-section-2 .u-text-10 {
  font-weight: 700;
  font-size: 1rem;
  margin: -39px 770px 0 254px;
}

.u-section-2 .u-shape-7 {
  width: 110px;
  height: 37px;
  background-image: none;
  margin: 10px 51px 0 auto;
}

.u-section-2 .u-text-11 {
  font-weight: 700;
  margin: -37px 216px 60px 808px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 275px;
    margin-left: 549px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 747px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 615px;
    margin-left: 80px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
    margin-left: 464px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 51px;
    margin-right: 490px;
    margin-left: 257px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -69px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 25px;
    margin-left: 867px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: -6px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 25px;
    margin-left: 824px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 11px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: -121px;
  }

  .u-section-2 .u-shape-5 {
    margin-top: 0;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-right: 690px;
    margin-left: 134px;
  }

  .u-section-2 .u-shape-6 {
    margin-top: 16px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 28px;
    margin-right: 357px;
    margin-left: 470px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-top: -67px;
    margin-right: 567px;
    margin-left: 257px;
  }

  .u-section-2 .u-shape-7 {
    margin-top: 4px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: -25px;
    margin-right: 212px;
    margin-left: 612px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 962px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 165px;
    margin-left: 439px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 527px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 443px;
    margin-left: 32px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: -159px;
    margin-right: -21px;
    margin-left: 388px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 80px;
    margin-right: 380px;
    margin-left: 147px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 47px;
    margin-left: 647px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 49px;
    margin-left: 24px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -78px;
    margin-right: -32px;
    margin-left: 615px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 85px;
    margin-right: auto;
    margin-left: 166px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 13px;
    margin-right: 296px;
    margin-left: auto;
  }

  .u-section-2 .u-shape-5 {
    margin-top: 53px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -196px;
    margin-right: 580px;
    margin-left: 24px;
  }

  .u-section-2 .u-shape-6 {
    margin-top: 175px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 9px;
    margin-right: 219px;
    margin-left: 388px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -194px;
    margin-right: 444px;
    margin-left: 160px;
  }

  .u-section-2 .u-shape-7 {
    margin-top: 176px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -99px;
    margin-right: -209px;
    margin-left: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1029px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 75px;
    margin-left: 349px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 347px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 24px;
    margin-right: 295px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: -204px;
    margin-right: -32px;
    margin-left: 285px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 112px;
    margin-right: 288px;
    margin-left: 59px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -21px;
    margin-right: -50px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 6px;
    margin-right: -92px;
    margin-left: 507px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 67px;
    margin-left: 0;
  }

  .u-section-2 .u-text-7 {
    margin-top: -73px;
    margin-right: -24px;
    margin-left: 434px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 193px;
    margin-left: 30px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: -147px;
    margin-right: auto;
  }

  .u-section-2 .u-shape-5 {
    margin-top: -67px;
    margin-left: 101px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -42px;
    margin-right: 440px;
    margin-left: -15px;
  }

  .u-section-2 .u-shape-6 {
    margin-top: 179px;
    margin-right: auto;
    margin-left: 171px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 0;
    margin-right: 270px;
    margin-left: 157px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -214px;
    margin-right: 330px;
    margin-left: 95px;
  }

  .u-section-2 .u-shape-7 {
    margin-top: 191px;
    margin-right: 48px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -110px;
    margin-left: 26px;
    margin-right: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1482px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 224px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 13px;
    margin-right: 147px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 9px;
    margin-right: 121px;
    margin-left: -26px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.625rem;
    margin-top: -80px;
    margin-right: -50px;
    margin-left: 198px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 20px;
    margin-right: 170px;
    margin-left: -23px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 171px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -64px;
    margin-right: -50px;
    margin-left: 314px;
  }

  .u-section-2 .u-shape-2 {
    margin-top: 161px;
  }

  .u-section-2 .u-text-7 {
    margin-top: -140px;
    margin-right: -56px;
    margin-left: 284px;
  }

  .u-section-2 .u-shape-3 {
    margin-top: 141px;
  }

  .u-section-2 .u-shape-4 {
    margin-top: 20px;
    margin-right: -50px;
  }

  .u-section-2 .u-shape-5 {
    margin-top: 74px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: -231px;
    margin-right: 206px;
    margin-left: 24px;
  }

  .u-section-2 .u-shape-6 {
    margin-top: 220px;
    margin-right: 77px;
  }

  .u-section-2 .u-text-9 {
    margin-top: -205px;
    margin-right: 170px;
    margin-left: 57px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 180px;
    margin-right: 77px;
    margin-left: 150px;
  }

  .u-section-2 .u-shape-7 {
    margin-top: -6px;
    margin-right: -55px;
  }

  .u-section-2 .u-text-11 {
    margin-top: -87px;
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 627px;
}

.u-section-3 .u-text-1 {
  font-weight: normal;
  font-size: 2.25rem;
  margin: 0 1022px 0 13px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 158px 247px 0 713px;
}

.u-section-3 .u-text-3 {
  font-weight: 400;
  margin: 13px 360px 0 672px;
}

.u-section-3 .u-group-1 {
  width: 551px;
  min-height: 553px;
  height: auto;
  background-image: linear-gradient(#fbeced, #f1b5b8);
  margin: -234px auto 37px 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 17px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  line-height: 1.4;
  margin: 223px 13px 0 389px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 835px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 147px;
    margin-left: 613px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-right: 260px;
    margin-left: 572px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -233px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-3 .u-text-1 {
    margin-right: 615px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 37px;
    margin-left: 503px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 150px;
    margin-left: 462px;
  }

  .u-section-3 .u-group-1 {
    width: 487px;
    min-height: 487px;
    margin-top: -156px;
    margin-bottom: 60px;
    margin-left: -50px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 325px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 474px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 1px;
    margin-right: 435px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 0;
    margin-left: 402px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 30px;
    margin-left: 402px;
  }

  .u-section-3 .u-group-1 {
    width: 416px;
    min-height: 440px;
    margin-top: -278px;
    margin-bottom: 1px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 247px;
    margin-left: 254px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 16px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -497px;
    margin-right: 273px;
    margin-left: -38px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
    margin-top: 90px;
    margin-right: -77px;
    margin-left: 290px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 21px;
    margin-right: -50px;
    margin-left: 299px;
  }

  .u-section-3 .u-group-1 {
    width: 340px;
    margin-top: -176px;
    margin-bottom: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 191px;
  }
}